/* GENERAL/RESET */
html {
    box-sizing: border-box;
    font-size: 15px;
}

body {
    background: var(--very-light-gray);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a,
a:visited {
    color: blue;
    text-decoration: none;
}

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

/* MAIN CONTENT */
main {
    width: 320px;
    margin: 5em auto;
}

.cards {
    height: 500px;
    padding: 1em 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}
/* TOP CARD */
.card-1 {
    background: var(--bright-orange);
    border-radius: 10px 10px 0 0;
}

.card-1 h1 {
    color: var(--very-light-gray);
    font-family: "Big Shoulders Display", cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.card-1 p {
    color: var(--transparent-white);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.card-1 a {
    border-radius: 50px;
    background: var(--very-light-gray);
    color: var(--bright-orange);
    cursor: pointer;
    font-family: "Lexend Deca", sans-serif;
    padding: 0.8em 1.8em;
}

/* MIDDLE CARD */
.card-2 {
    background: var(--dark-cyan);
}

.card-2 h2 {
    color: var(--very-light-gray);
    font-family: "Big Shoulders Display", cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.card-2 p {
    color: var(--transparent-white);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.card-2 a {
    border-radius: 50px;
    background: var(--very-light-gray);
    color: var(--dark-cyan);
    cursor: pointer;
    font-family: "Lexend Deca", sans-serif;
    padding: 0.8em 1.8em;
}

/* BOTTOM CARD */
.card-3 {
    background: var(--very-dark-cyan);
    border-radius: 0 0 10px 10px;
}

.card-3 h3 {
    color: var(--very-light-gray);
    font-family: "Big Shoulders Display", cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.card-3 p {
    color: var(--transparent-white);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.card-3 a {
    border-radius: 50px;
    background: var(--very-light-gray);
    color: var(--very-dark-cyan);
    cursor: pointer;
    font-family: "Lexend Deca", sans-serif;
    padding: 0.8em 1.8em;
}

/* FOOTER */
footer {
    width: 320px;
    padding-bottom: 1em;
    margin: auto;
    text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    /* MAIN CONTENT */
    main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .container-desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 875px;
    }

    /* LEFT CARD */
    .card-1 {
        border-radius: 10px 0 0 10px;
    }

    .card-1 a {
        margin-top: 40px;
        border: 1px solid white;
    }

    .card-1 a:hover {
        background: var(--bright-orange);
        color: white;
        transition: all 0.2s;
    }

    /* MIDDLE CARD */
    .card-2 a {
        margin-top: 40px;
        border: 1px solid white;
    }

    .card-2 a:hover {
        background: var(--dark-cyan);
        color: white;
        transition: all 0.2s;
    }

    /* RIGHT CARD */
    .card-3 {
        border-radius: 0 10px 10px 0;
    }

    .card-3 a {
        margin-top: 40px;
        border: 1px solid white;
    }

    .card-3 a:hover {
        background: var(--very-dark-cyan);
        color: white;
        transition: all 0.2s;
    }
}
